services:
  guacd:
    image: guacamole/guacd:latest
    container_name: guacd
    restart: always
    networks:
      - guac_net

  guac_db:
    image: postgres:alpine
    container_name: guac_db
    restart: always
    environment:
      POSTGRES_DB: '{{ guac_db_name }}'
      POSTGRES_USER: '{{ guac_db_user }}'
      POSTGRES_PASSWORD: '{{ guac_db_password }}'
    volumes:
      - /var/lib/guacamole/init:/docker-entrypoint-initdb.d
      - guac_db_data:/var/lib/postgresql
    networks:
      - guac_net

  guacamole:
    image: guacamole/guacamole:latest
    container_name: guacamole
    restart: always
    ports:
      - "8080:8080"
    environment:
      GUACD_HOSTNAME: guacd
      POSTGRESQL_HOSTNAME: guac_db
      POSTGRESQL_DATABASE: '{{ guac_db_name }}'
      POSTGRESQL_USERNAME: '{{ guac_db_user }}'
      POSTGRESQL_PASSWORD: '{{ guac_db_password }}'

      OPENID_AUTHORIZATION_ENDPOINT: "https://login.microsoftonline.com/{{ microsoft_guac_tenant_id }}/oauth2/v2.0/authorize"
      OPENID_JWKS_ENDPOINT: "https://login.microsoftonline.com/{{ microsoft_guac_tenant_id }}/discovery/v2.0/keys"
      OPENID_ISSUER: "https://login.microsoftonline.com/{{ microsoft_guac_tenant_id }}/v2.0"
      OPENID_CLIENT_ID: "{{ microsoft_guac_client_id }}"
      OPENID_REDIRECT_URI: "https://guacamole.lilepiserver.duckdns.org/"
      OPENID_USERNAME_CLAIM_TYPE: "preferred_username"
    depends_on:
      - guacd
      - guac_db
    networks:
      - guac_net

networks:
  guac_net:
    driver: bridge

volumes:
  guac_db_data: